</div> <footer class="site-footer">
        <p>&copy; <%= new Date().getFullYear() %> Frederic Alleron. Tous droits réservés.</p>
        <p>
            <a href="/">Accueil</a> | 
            <a href="/profil">Profil</a> | 
            <a href="/stage">Stage</a> | 
            <a href="/journal">Journal de Bord</a>
        </p>
    </footer>

    <script src="/js/main.js"></script>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'fr', // Langue originale du site
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element'); // Cible la div du header
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/intl/en/element.js?cb=googleTranslateElementInit"></script>
    
</body>
</html>