<%- include('partials/header', { pageTitle: pageTitle }) %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

<div class="static-page">
    <h1>Localisation de mon Parcours</h1>
    <p>Voici les différents lieux où j'ai étudié et travaillé.</p>
    <hr>

    <div id="map" 
         style="height: 500px; width: 100%; border-radius: 12px; border: 1px solid var(--c-border); z-index: 1;"
         data-locations='[
            {"lat": 47.46420, "lng": -0.49735, "title": "ESAIP", "desc": "Cycle ingénieur Informatique & Réseaux"},
            {"lat": 47.83878, "lng": -0.33995, "title": "Lycée Raphaël Elizé", "desc": "Baccalauréat STI2D"},
            {"lat": 46.83548, "lng": 0.53547, "title": "IUT de Châtellerault", "desc": "BUT Réseaux & Télécommunications"}
         ]'>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/js/map.js"></script>

<%- include('partials/footer') %>