<%- include('partials/header', { pageTitle: 'Administration' }) %>

<h1>Administration - Connexion</h1>

<% if (error) { %>
    <p class="error-message"><%= error %></p>
<% } %>

<form action="/connexion" method="POST">
    <div>
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>

<% if (!adminExists) { %>
    <p>Aucun compte administrateur n'existe. <a href="/inscription">Créez-le maintenant</a>.</p>
<% } %>

<%- include('partials/footer') %>