<%- include('partials/header', { pageTitle: 'Connexion' }) %>

<h1>Se connecter</h1>

<%# ... code du formulaire et du message d'erreur ... %>

<%# On affiche le lien seulement si aucun compte admin n'existe %>

<% if (!adminExists) { %>
    <p>Aucun compte administrateur n'existe. <a href="/inscription">Créez-le maintenant</a>.</p>
<% } %>

<form action="/connexion" method="POST">
    <div>
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>

<%- include('partials/footer') %>