<%- include('partials/header', { pageTitle: 'Nouvel article' }) %>

<h1>Ajouter une entrée au journal</h1>

<%# IMPORTANT : Il faut ajouter enctype="multipart/form-data" au formulaire %>
<form action="/journal" method="post" enctype="multipart/form-data">
    <div>
        <label for="title">Titre : </label><br>
        <input type="text" id="title" name="title" required>
    </div>

    <div>
        <label for="content">Contenu : </label><br>
        <textarea name="content" id="content" rows="15" required></textarea>
    </div>

    <%# AJOUT : Le champ pour choisir un fichier image %>
    <div>
        <label for="image">Image (optionnel) :</label><br>
        <input type="file" id="image" name="image">
    </div>

    <div>
        <button type="submit">Créer l'entrée</button>
    </div>
</form>

<%- include('partials/footer') %>