<%- include('partials/header', { pageTitle: 'Créer le compte Administrateur' }) %>

<h1>Créer le compte Administrateur</h1>
<p>Ce formulaire n'est accessible que pour la création du premier et unique compte.</p>
<hr>

<form action="/inscription" method="POST">
    <div>
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Créer le compte</button>
    </div>
</form>

<%- include('partials/footer') %>